.container {
	width:90%;
	max-width:1000px;
	margin:auto;
}
@media screen and (max-width: 800px) {
	.container {
		flex-direction:column;
	}
    .btn-group-vertical {
	background: #5b5b5b;
	height:150px;
	margin:10px;
}

@media screen and (max-width: 600px) {
	aside {
		flex-direction:column;
	}

	footer {
		justify-content:space-around;
	}
}	