.container {
	width:90%;
	max-width:1000px;
	margin:auto;
}


.main {
	background:#fff;
	padding:0px;

	flex:1 1 70%;
	/*flex:1;*/
}
.main article {
	margin-bottom:  0px;
	padding-bottom: 0px;
	border-bottom:0px solid #000;
}
aside {
	background:#e67e22;
	padding:20px;
	/*FLEX*/
	flex:1 1 30%;
	/*flex:0 0 300px;*/

	display: flex;
	flex-wrap:wrap;
	flex-direction:column;
	justify-content:flex-start;
}

@media screen and (max-width: 800px) {
	.container {
		flex-direction:column;
	}
	aside {
		flex-direction:row;
		flex:0;
	}

    .btn-group-vertical {
		flex-grow:1;
	}
}
	aside .btn-group-vertical {
		flex-grow:1;
	}
}

@media screen and (max-width: 400px) {
	aside {
		flex-direction:column;
	}

	footer {
		justify-content:space-around;
	}
}
@media screen and (max-width: 400px) {
	.container {
		width: 100%;
	}
	.aside {
	display: none;
}