* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.contenedor {
	width:95%;
	max-width:700px;
	margin:auto;

	/* Flexbox */
	display:flex;
	flex-flow:row wrap;
}


body {
	background:#e9e9e9;
}

header {
	background:#2c3e50;
	width:100%;
	padding:3px;
    margin-bottom: 5px;
	/* Flexbox */
	display: flex;
	justify-content:space-between;
	align-items:center;

	flex-direction:row;
	flex-wrap:wrap;
}

header .logo {
	color:#fff;
	font-size:30px;
}

header .logo img {
	width:0px;
	vertical-align: top;
}

header .logo a {
	color:#fff;
	text-decoration: none;
	line-height:0px;
}
header .letra {
	color:#fff;
	text-decoration: none;
	padding: 0px;
	height: 10%;
	font-size:95%;
}

header .letraa  {
	color:#fff;
	text-decoration: none;
	padding: 0px;
	height: 10%;
	font-size:70%;
}

header nav {
	width:100%;
	/* Flexbox */

	display:flex;
	flex-wrap:wrap;
	align-items:center;
}

header nav a {
	background:#c0392b;
	color:#fff;
	text-align: center;
	text-decoration: none;
	padding:10px;

	/* Flexbox */
	flex-grow:1;
}

header nav a:hover {
	background:#e74c3c;
}

.btn-group-vertical {
	width:100%;
	max-width:700px;
	margin:auto;


	/* Flexbox */
	display:flex;
	flex-flow:row wrap;
}

.btn-primary {
	width:100%;
	max-width:700px;
	margin:auto;
	font-size:30px;

	/* Flexbox */
	display:flex;
	flex-flow:row wrap;
}

.btn-danger{
	width:100%;
	max-width:700px;
	margin:auto;

	/* Flexbox */
	display:flex;
	flex-flow:row wrap;
}
.btn-danger{
	width:100%;
	max-width:700px;
	margin:auto;

	/* Flexbox */
	display:flex;
	flex-flow:row wrap;
}

.main {
	background:#fff;
	padding:0px;


	flex:1 1 70%;
	/*flex:1;*/
}

.main article {
	margin-bottom: 0px;
	padding-bottom:0px;
	border-bottom:0px solid #000;
}

.main article:nth-last-child(1){
	margin-bottom: 0;
	padding-bottom: 0;
	border-bottom:none;
}

aside {
	background:#e67e22;
	padding:20px;
	/*FLEX*/
	flex:1 1 30%;
	/*flex:0 0 300px;*/

	display: flex;
	flex-wrap:wrap;
	flex-direction:column;
	justify-content:flex-start;
}

aside .widget {
	background: #d35400;
	height:150px;
	margin:10px;
}

footer {
	background:#2c3e50;
	width: 100%;
	padding:10px;

	/* Flexbox */
	display: flex;
	flex-wrap:wrap;
	justify-content:space-between;
}

footer .links {
	background:#c0392b;
	display:flex;
	flex-wrap:wrap;
}

footer .links a {
	flex-grow:1;

	color:#fff;
	padding:10px;
	text-align: center;
	text-decoration:none;
}

footer .links a:hover {
	background:#E74C3C;
}

footer .social {
	background:#e67e22;
}

footer .social a {
	color:#fff;
	text-decoration: none;
	padding:10px;
	display: inline-block;
}
.ip {
 color: #fff;
 margin-right: -2px;
 font-size: 15px;
}
.ip2 {
 color: #fff;
 margin-right: -2px;
 font-size: 25px;
}
.icon {
 color: #fff;
 margin-right: -2px;
 font-size: 18px;
 font-weight: 900; 
}
@media screen and (max-width: 700px) {
	.contenedor {
		flex-direction:column;
	}
    .btn-group-vertical {
		width: 100%;
	}
	.btn-primary {
		width: 100%;
	}
	.btn-danger {
		width: 100%;
	}

	header {
		flex-direction:column;
		padding:0;
	}

	header .logo {
		margin:20px 0;
	}

	header nav {
		width: 100%;
	}

	aside {
		flex-direction:row;
		flex:0;
	}

	aside .widget {
		flex-grow:1;
	}
}

@media screen and (max-width: 400px) {
	aside {
		flex-direction:column;
	}

	footer {
		justify-content:space-around;
	}
}


